<!DOCTYPE html>
<html>

<head>
    <title>InTouch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Add base html here. -->
    <header class="navbar">
        <h2><a href="/">InTouch</a></h2>
        <section class="flash-messages">
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
        </section>
        <nav class="navbar-links">
            {% if current_user.is_authenticated %}
            <span>Hello {{ current_user.username }}</span>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/">Home</a>
            <a href="/create_contact">Create Contact</a>
            <a href="/logout">Log Out</a>
            {% else %}
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>