{% extends 'base.html' %}

{% block content %}

<h1>{{ contact.name }} Info</h1>

<p>
    <strong>Name</strong>: {{ contact.name }}
</p>

<p>
    <strong>Email</strong>: {{ contact.email }}
</p>

<p>
    <strong>Phone</strong>: {{ contact.phone }}
</p>

<p>
    <strong>Address</strong>: {{ contact.address }}
</p>

{% if contact.birthday %}
<p>
    <strong>Birthday</strong>: {{ contact.birthday.strftime('%B %d, %Y') }}
</p>
{% endif %}

<a href="/contact/{{ contact.id }}/create_comment">Add a comment</a>

{% if comments %}
<h2>Comments</h2>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{ comment.comment }}</p>
        <p>{{ comment.created_on.strftime('%B %d, %Y') }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}

<form method="POST" action="{{ url_for('main.contact_detail', contact_id=contact.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this contact</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.phone.label }}
        {{ form.phone }}

        {{ form.address.label }}
        {{ form.address }}

        {{ form.birthday.label }}
        {{ form.birthday(placeholder="YYYY-mm-dd") }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}