{% extends 'base.html' %}

{% block content %}
<section class="delete">
  <form method="POST" action="{{ url_for('main.delete_note', contact_id=contact.id, note_id=note.id) }}">
    {{ form.csrf_token }}
    <fieldset class="fieldset-margin">
      <legend>Delete Note</legend>
      <p>Are you sure you want to delete {{ contact.name }}'s note? This can't be undone!</p>
      {{ form.submit }}
    </fieldset>
  </form>
  <footer>
    <a href="{{ url_for('main.edit_note', contact_id=contact.id, note_id=note.id) }}" class="link-btn-black">Back to
      Edit Note</a>
  </footer>
</section>

{% endblock %}