{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.edit_comment', contact_id=contact.id, comment_id=comment.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit note for {{ contact.name }}</legend>

        {{ form.comment(class="form-control") }}
        <ul>
            {% for error in form.comment.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
        </ul>

        {{ form.submit }}
    </fieldset>
</form>
<form method="POST" action="{{ url_for('main.delete_comment', contact_id=contact.id, comment_id=comment.id) }}">
    {{ form.csrf_token }}
    <p><input type="submit" name="btn" value="Delete"></p>
</form>


{% endblock %}