{% extends 'base.html' %}
{% block content %}
<section class="auth">

    <h1>Log In</h1>

    <form action="/login" method="POST">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Enter your credentials</legend>
            <section class="form-section">
                {{ form.username.label }}
                {{ form.username }}
            </section>
            <ul>
                {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
            <section class="form-section">
                {{ form.password.label }}
                {{ form.password }}
            </section>
            <ul>
                {% for error in form.password.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>

            {{ form.submit }}
            </fieldset>
            </form>
</section>

{% endblock %}